.single-product {
  display: flex;
  gap: 10px;

  .images-container {
    width: 40%;
    img {
      display: block;
      width: 100%;
      max-width: 600px;
    }

    .images {
      display: flex;
      justify-content: center;
      gap: 10px;
      img {
        cursor: pointer;
        width: 100px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      }
    }
  }

  .text-container {
    flex: 1;

    .title,
    .description {
      margin-bottom: 10px;
    }
    .shape-container {
      margin: 10px 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      p {
        background-color: rgba(127, 255, 212, 0.452);
        padding: 12px 24px;
        border-radius: 24px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }
    .review-container {
      .review-card {
        text-transform: capitalize;
        background-color: blueviolet;
        color: white;
        
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        padding: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .single-product {
    flex-direction: column;
    align-items: center;
  }

  .images-container {
    width: 100% !important;
  }
}
